$white: #ffffff;
$black: #2c3e50;
$grey: #f4f4f4;
$light__hover: #e8e8e8;
.light__mode {
  background-color: $grey;
  color: $black;
  .active__bg:hover {
    background-color: $light__hover;
  }
  .active__bg {
    color: $black !important;
  }
  .active__link {
    border-bottom: 1px solid $black;
  }
  .font__color {
    color: $black;
  }
}
.trans_btn {
  background-color: transparent;
  border: transparent;
  font-size: 1.3em;
}
.dark__mode {
  background-color: $black;
  color: $grey;
  .border{
      border: 1px solid $grey;
  }
  .active__bg:hover {
    background-color: #1b2a38;
  }
  .trans_btn {
    background-color: transparent;
    border: transparent;
    color: $grey;
  }
  .active__bg {
    color: $white !important;
  }
  .font__color {
    color: $grey;
  }
  .active__link {
    border-bottom: 1px solid $grey;
    text-decoration: none !important;
  }
}
.red {
  background-color: red;
}
.mode__btn {
  outline: none !important;
  border: transparent;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: transparent;
}
.link {
  font-size: 0.7em;
  text-decoration: none !important;
  padding: 9px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 2px;
}
.hello-world {
  font-size: 1.8em;
  font-weight: bold;
}
.post__box{
    border-radius: 7px;
    height: 250px;
}
.overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.text-overflow{ 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}