$white: #ffffff;
$black: #000;
$grey: #f4f4f4;
@font-face{
    src: url('/fonts/Modak-regular.ttf');
    font-family: Modak
}
::selection{
    -webkit-tap-highlight-color: transparent;
}
nav{
    background-color: $white;
    position: fixed;
    height: 50px;
    margin: 0px;
    display: flex;
    width: 100%;
    background-color: $white;
    z-index: 5;
    border-bottom: 1px solid $grey;
}
.sidebar{
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100vh;
    background-color: $white;
}
.name{
    font-weight: bold;
    font-size: 1em;
    color: $black;
}
.link{
    text-decoration: none;
    font-size: 0.8em;
    color: $black;
}
.link:hover{
    text-decoration: none;
}
.red{
    background-color: red;
}
.landing_page{
    min-height: calc(100vh - 50px);
    padding-left: 250px;
    .text_container{
        padding-left: 100px;
        .header{
            font-size: 35px;
            font-weight: bold;
        }
    }
}
.overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.home{
    background-color: $grey;
    min-height: 100vh;
    overflow-y: none !important;
}
.post{
    // border: 1px solid $grey;
    width: 350px;
    .image{
        height: 250px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        button{
            color: $white;
            background-color:$black;
            font-size: 0.9em;
            display: none;
            border: 2px solid $white;
        }
    }
    .name{
        font-weight: bold;
        font-size: 1em;
        background-color: $white;
        div{
            width: 90%;
        }
    }
}
.post:hover{
    
}
.border{
    border: 1px solid $grey;
}
.read{
    color: blue;
    font-size: 0.6em;
    font-weight: thin;
}
.trans_btn{
    background-color: transparent;
    border: transparent;
    outline: none !important;
    font-size: 1.4em;

}
.trans_btn:hover{
       img{
           width: 20px;
       }
}
.font_sm{
    font-size: 0.7em;                               
}
.white_bg{
    background-color: $white;
}
.border_radius{
    border-radius: 10px;
}
.box_shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}
.circle_image{
    border-radius: 50%;
}
.interest{
    background-color: $white;
    // border: 2px solid $grey;
    border-radius: 7px;
    font-size: 0.9em;
    min-width: 200px;
    text-align: center;
}
.services{
    width: 350px;
    min-height: 300px;
    background-color: $white;
    .header{
        font-size: 1em;
        font-weight: bold;
    }
    .service_avatar{
        border-radius: 50%;
        border: 2px solid $grey;
        width: 70px;
        height: 70px;
        margin: auto;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text{
        font-size: 0.9em;
    }
}
.trail {
    padding-right: 50px;
    .circle{ 
        border-radius: 50%;
        border: 2px solid #ffffff;
        // background-color: #ffffff;
        height: 10px;
        width: 10px;
    }
    .line {
        .child{
            height: 100px;
            width: 2px;
            background-color: #ffffff;
            border-radius: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
.text-overflow{ 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}